/*Ici on applique le style a body en pointant directement le sélecteur HTML body
si un sélecteur est présent plusieurs fois dans la page, le style s'appliquera à tous
* couleur de fond grise de la page en ciblant l'élément body */
body {
  font-family: "Open sans", Verdana, sans-serif;
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  /* margin: 0; */
}
/* Ces selecteurs permettent de mettre en forme que les liens directement dans l'élément body. Ici on leur applique une couleur de fond bisque */
body > a {
  background-color: bisque;
}
/* width permet de régler la largeur d'un élément et heigth la hauteur
*si on indique juste la largeur, la hauteur est calculée automatiquement 
*et proportionnellement */
.smile {
  width: 80%;
}
.lateralbar {
  position: fixed;
  width: 15%;
  height: 99vh;
}
.lateralbar li {
  margin-top: 5%;
}
.container {
  display: flex;
  margin-left: 16%;
}
h1 {
  color: red;
}
h3{
  text-align: center;
}
/* first-of-type applique le style seulement au 1er element (ici h2) rencontrée dans chaque éléments parents */
h2:first-of-type {
  color: rgb(0, 255, 242);
}
p{
  padding: 1%;
}
/* p:first-of-type {
  color: blue;
  border: 2px solid red;
  padding: 5px;
  font-size: 16px;
} */
/* hover permet de changer le style lorsque la souris survol l'élément choisi ici l'élément p */
/* p:hover {
  color: rgb(42, 165, 93);
} */
/* exemple hover sur un élément H1 */
h1:hover {
  color: blue;
}
.smiley {
  width: 2%;
}
tr,
th {
  border: 2px solid black;
}
td {
  border: 1px solid black;
  padding: 10px;
}
.tableau1 {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}
.corpsTableau1 {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
/* Alignement des éléments portant la classe "enfants" avec les autres éléments de la page */
.enfants {
  margin-left: 16%;
}
/* On cible le 1er lien se trouvant après un élément p  */
p + a {
  background-color: red;
}
.div {
  color: white; /*Textes des éléments dans les div blancs par héritage*/
  background-color: purple; /*Les div auront un fond violet*/
  width: 85%; /*Définit la largeur des div à 70% de leur parent (body ici)*/
  margin: 3% 0 0 15%;
}
.div h2 {
  text-align: center;
}
span {
  font-weight: bold; /*Les textes seront en gras*/
  background-color: yellow; /*Fond des span jaune*/
  color: black; /*Couleur du texte noire*/
}
.conteneur {
  border: 1px solid black;
  background-color: lightGrey;
  width: 50%;
  margin: 0 auto;
}
.conteneur p {
  font-family: roboto;
  width: 100%;
  background-color: yellow;
}
.conteneur strong,
.conteneur span {
  background-color: red;
}
.grandSmileContainer {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: 0 1% 1% 0;
}
.invisible {
  visibility: hidden;
  width: 100%;
  margin: 0;
  background-color: black;
  color: aliceblue;
}
.nonaffiche {
  display: none;
  width: 100%;
  margin: 0;
  background-color: black;
  color: aliceblue;
}
.contenu {
  display: contents;
  width: 100%;
  margin: 0;
  background-color: black;
  color: rgb(0, 255, 55);
}
.exempleContainer {
  height: 200px;
}
.exemple {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}
.conteneurAbsolu {
  width: 100%;
  height: 200px;
  display: block;
  background-color: rgb(102, 130, 221); /*bleuViolet*/
}
.absolu {
  position: absolute;
}
.relatif {
  position: relative;
}
.haut {
  top: 60px; /*Elément décalé de 50px vers le bas p/r à une origine*/
}
.gauche {
  left: 150px; /*Element décalé de 150px vers la droite p/r à une origine*/
}
.droite {
  right: 30px; /*Element décalé de 30px vers la gauche p/r à une origine*/
}
.bas {
  bottom: 20px; /*Element décalé de 30px vers le haut p/r à une origine*/
}
.bleu {
  background-color: #0af;
}
.vert {
  background-color: #0fa;
}
.flottant{
  width: 200px;
  height: 100px;
  float: left;
  background-color: #0AF;/*Bleu*/
}
.vide{
  height: 40px;
  background-color: #0FA;/*Vert*/
}
.para{
  background-color: #EE6;/*Jaune*/
  color: black;
}
.tableau2{
  border-collapse: collapse;
  margin-top: 2%;
  width: 400px;
  text-align: center;
}
.info{
  background-color: rgb(255, 100, 100);
}
.t1{
  border : 2px solid black;
}
.t2 td, .t2 th{
  border: 1px solid orange;
}
video{
  width: 100%;
}
iframe{
  width: 560px;
  height: 315px;
  margin-left: 33%;
}