/*Ici on applique le style a body en pointant directement le sélecteur HTML body
si un sélecteur est présent plusieurs fois dans la page, le style s'appliquera à tous
* couleur de fond grise de la page en ciblant l'élément body */
body {
  background-color: rgb(211, 211, 211);
}
/* Ces selecteurs permettent de mettre en forme que les liens directement dans l'élément body. Ici on leur applique une couleur de fond bisque */
body > a {
  background-color: bisque;
}
/* width permet de régler la largeur d'un élément et heigth la hauteur
*si on indique juste la largeur, la hauteur est calculée automatiquement 
*et proportionnellement */
.smile {
  width: 80%;
}
.lateralbar {
  position: fixed;
  width: 15%;
  height: 99vh;
}
.lateralbar li{
  margin-top: 5%;
}
.container {
  display: flex;
  margin-left: 16%;
}
h1 {
  color: red;
}
/* first-of-type applique le style seulement au 1er element (ici h2) rencontrée dans chaque éléments parents */
h2:first-of-type {
  color: rgb(0, 255, 242);
}
p:first-of-type {
  color: blue;
  border: 2px solid red;
  padding: 5px;
  font-size: 16px;
}
/* hover permet de changer le style lorsque la souris survol l'élément choisi ici l'élément p */
p:hover {
  color: rgb(42, 165, 93);
}
/* exemple hover sur un élément H1 */
h1:hover {
  color: blue;
}
.smiley {
  width: 2%;
}
tr,
th {
  border: 2px solid black;
}
td {
  border: 1px solid black;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
/* Alignement des éléments portant la classe "enfants" avec les autres éléments de la page */
.enfants {
  margin-left: 16%;
}
/* On cible le 1er lien se trouvant après un élément p dans  */
p + a{
  background-color: red;
}